{% extends 'base.html' %}

{% block content %}

  <style>
    table{
      background-color: lightgrey;
    }
    tr:nth-of-type(odd) td:nth-of-type(odd){
      background-color: orange;
    }
    tr:nth-of-type(even) td:nth-of-type(even){
      background-color: orange;
    }
    td{
      width: 60px;
      height: 60px;
    }
  </style>

  <b>
    <a href="http://localhost:8000/api/simulate/1/a4/">
      http://localhost:8000/api/simulate/< int:piece_id >/< str:coordinate >/
    </a>
  </b>

  <div align="center" style="margin-top: 200px">
    <table>
      {% for line in lines_size %}
        <tr>
          {% for col in columns_size %}
            <td>{{ col }}{{ line }}</td>
          {% endfor %}
        </tr>
      {% endfor %}

    </table>
  </div>
{% endblock %}
